*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: absolute;
    width: 100%;
}
.box_image_nav{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: #b99532;
    font-weight: 700;
    align-items: center;
}
.box_image_footer{
    margin-left: 45px;
}
.nav_links{
    margin-right: 100px;
}
.nav_links a{
    padding: 10px;
    color: #000;
}
.nav_links a:hover{
    border-bottom: 1px solid #b99532;
    color: #b99532;
}
.link{
    text-decoration: none;
}
.selecionado{
    color: #b99532 !important;
}
section{
    display: flex;
}
.image_banner{
    display: flex;
    width: 1920px;
    height: 500px;
    margin-top: 80px;
}
.image_banner img{
    width: 100%;
}
.container_main{
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.image_banner p{
    position: absolute;
    left: 150px;
    top: 200px;
    font-size: 40px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
}
.container_main h1{
    color: #b99532;
}
.box_main{
    display: flex;
    margin-top: 40px;
}
.box_main span{
    color: #b99532;
    font-weight: 700;
}
.box_main_title{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    padding: 40px;
}
.box_main_title h2{
    font-size: 30px;
    color: #b99532;
}
.box_main_products{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    background-color: #fff;
}
.box_main_products a:hover{
    filter: blur(4px);
}
.box_contact{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 220px;
    background-image: linear-gradient(to right, #b99532, #c6a53d, #d3b649, #e0c855, #ecd961);
}
.box_contact img{
    width: 100%;
    height: 200px;
}
.box_contacts{
    padding: 20px;
    color: #fff;
}
.box_contacts a{
    background-color: #fff;
    color: #b99532;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    padding: 15px 80px;
    box-shadow: 0 2px 2px #000;
}
.box_contacts a:hover{
    background-color: #409940;
    color: #fff;
}
.box_contacts h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.box_contacts p{
    font-family: 'Times New Roman', Times, serif;
}
.container_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px 0;
}
.container_footer_infos{
    display: flex;
    flex-direction: column;
}
.footer_div_infos{
    display: flex;
    flex-direction: row;
}
.footer_div_infos p{
    margin-left: 5px;
}
.container_footer_infos img{
    margin-left: 30px;
}
.container_footer_infos h2{
    margin-bottom: 20px;
    color: #b99532;
}
.container_footer_links{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 200px;
    padding: 10px;
}
.footer_icons{
    margin-bottom: 50px;
    color: #696969;
}
.footer_icons i{
    margin-left: 20px;
}
.footer_icons i:hover{
    color: #b99532;
    cursor: pointer;
}
.container_footer_links a{
    padding: 10px;
    color: #000;
    text-decoration: none;
}
.container_footer_links a:hover{
    color:#b99532;
    border-bottom: 1px solid #b99532;
}
/*PÁGINA ABOUT*/
.container_banner{
    margin-top: 80px;
}
.container_map_australia{
    width: 100%;
    padding: 50px;
}
.box_map_australia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
.box_map_australia p{
    margin-left: 70px;
}
.logo_job{
    position: relative;
    left: 24vw;
    bottom: 30vh;
}
.container_slide_images{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;
    margin-bottom: 50px;
}
.container_slide_images img{
    padding: 5px 20px;
    border: 1px solid #a4a4a4;
    overflow: hidden;
}
.box_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-bottom: 50px;
}
.box_cards span{
    align-items: center;
    background-color: #b99532;
    padding: 20px;
    width: 380px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-family:'Courier New', Courier, monospace;
}
.box_cards hr{
    border-bottom: 2px solid #b99532;
    width: 70vw;
}
.container_cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.card_page_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 1px solid #b99532;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.card_page_about i{
    margin-bottom: 20px;
    color: #a4a4a4;
}
.title_card{
    font-size: 30px;
    color: #b99532;
    margin-bottom: 20px;
}
.footer{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    background-color: rgb(77, 55, 16);
    color: #fff;
}
.footer p{
    margin-left: 100px;
}
/*PAGE PRODUTOS*/
.container_products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container_products h2{
    color: #b99532;
}
.box_products{
    display: grid;
    align-items: flex-start;
    grid-template-columns: auto auto auto;
    background-color: #e0dfdf;
}
.box_products a{
    text-align: center;
    color: #000;
}
.box_title_products{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
}
.box_title_products h2{
    margin-bottom: 20px;
}
.card_products{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 200px;
    background-size:cover;
    background-position: center;
    margin: 20px;
}
.container_help_contato{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card_products:hover{
    filter: blur(4px);
}
/*Page contact*/
.box_contact_page{
    margin-top: 100px;
    margin-left: 100px;
    padding: 15px;
}
.box_contact_page h2{
    color: #b99532;
    margin-bottom: 15px;
}
.box_form_contact{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 40px;
    width: 70vw;
}
.box_form_contact span{
    color: #b99532;
}
.box_form_contact hr{
    border: 1px solid #b99532;
    margin-bottom: 10px;
}
.box_form_contact h1{
    font-size: 40px;
    font-family:sans-serif;
    margin-bottom: 10px;
}
.form_contact{
    display: grid;
    grid-template-columns: auto auto;
}
.input_form_contact{
    display: flex;
    flex-direction: column;
    width: 35vw;
    padding: 10px;
}
.input_form_contact input{
    width: 34vw;
    height: 35px;
    outline: none;
    
}
.input_form_contact input:focus, .text_area:focus{
    border: 1px solid #b99532;
}
.span_required_contact{
    color: #ff0000 !important;
}
.textarea_form_contact{
    display: flex;
    flex-direction: column;   
}
.btn_form_contact{
    display: flex;
    justify-content: center;
}
.btn_form_contact button{
    border:1px solid #b99532;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 8px 70px;
    color: #b99532;
    font-weight: 600;
    border-radius: 2px;
}
.btn_form_contact button:hover{
    background-color: #b99532;
    color: #fff;
}
.text_area{
    outline: none;
}
.container_project{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
    width: 100%;
}
.box_project_image{
    margin-left: 50px;
    padding: 60px;
    border: 1px solid black;
}
.box_project_p{
    padding: 20px;
    margin-right: 50px;
    padding: 60px;
    border: 1px solid black;
    font-size: large;
}
.box_icons_project{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #b99532;
}
.image_leaf{
    position: relative;
    bottom: 20px;
    right: 82px;
}